@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #b2bec3;
}
.container {
  max-width: 860px;
  margin: 0 auto;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 35px;
}

.header {
  text-align: center;
  margin-top: 10px;
  color: #0984e3;
}

.btn {
  display: inline-block;
  padding: 6px 6px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #74b9ff;
  color: white;
}

.input {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
